:root {
  --link-font-family: "Roboto";
  --link-color: #fff;
  --link-active-color: #2196f3;
  --link-second-color: #7575;
  --link-third-color: #212121;
  --link-another-color: #757575;
}

div.container {
  width: 100%;
  margin: 0 auto;
}
.global-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.global-header,
.link,
.link-studio,
.link-portofolio,
.phone-number,
.email-adress {
  text-decoration: none;
}
li {
  display: inline;
}
.logo-bar {
  padding-left: 185px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.studio-bar {
  padding-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.portofolio-bar {
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact-bar {
  padding-left: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.mail-bar {
  padding-left: 385px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.phone-bar {
  padding-left: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
}

a:link,
a:visited {
  font-weight: bold;
  font-size: 1.0625em;
  text-align: center;
  padding: 0.375em;
}

a.phone-number {
  color: var(--link-another-color);
  font-size: 0.875em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.0175em;
}
a.email-adress {
  color: var(--link-active-color);
  font-size: 0.875em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.0175em;
}
.link,
.link-portofolio {
  color: var(--link-third-color);
  font-size: 0.875em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.0175em;
}
.link-studio {
  color: var(--link-active-color);
  font-size: 14px;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.0175em8px;
}
.link:hover,
.link:focus,
.email-adress:hover,
.email-adress:focus,
.phone-number:hover,
.phone-number:focus,
.link-portofolio:hover,
.link-portofolio:focus,
.link-studio:hover,
.link-studio:focus {
  color: var(--link-active-color);
}
.hero-section button.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--link-color);
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--link-active-color);
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
  height: 600px;
  flex-shrink: 0;
}
.hero-title {
  display: flex;
  justify-content: center;
  color: var(--link-color);
  text-align: center;
  font-size: 2.75em;
  font-family: var(--link-font-family);
  font-weight: 900;
  line-height: 3.75em;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  top: 12.5em;
}

.hero-section {
  background-color: #333;
  width: auto;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.main-section h3 {
  color: var(--link-third-color);
  font-size: 14px;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 94px;
  margin: 30px;
}

.main-section p {
  color: var(--link-another-color);
  font-size: 14px;
  font-family: var(--link-font-family);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.42px;
  margin: 30px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 50px;
}
.images {
  display: block;
  margin: 30px;
}

.title {
  color: var(--link-third-color);
  font-size: 2.25em;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.0675em;
  padding-top: 94px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third-section h3 {
  color: var(--link-third-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.03em;
}
.third-section p {
  color: var(--link-another-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  letter-spacing: 0.03em;
}
.last-title {
  color: var(--link-third-color);
  text-align: center;
  font-size: 2.25em;
  font-family: var(--link-font-family);
  font-weight: 700;
  letter-spacing: 0.0675em;
  padding-top: 188px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team-class {
  color: var(--link-third-color);
  text-align: center;
  font-size: 1em;
  font-family: var(--link-font-family);
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-top: 3.75em;
  padding-left: 215px;
  padding-bottom: 124px;
}
.team-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: var(--link-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 50px 15px 94px 15px;
}
.team-img 


.footer {
  background-color: #2f303a;
  flex-direction: column;
  float: left;
  padding: 2.5em;
  height: 251px;
  margin: 0;
  width: 100%;
}
.footer a.logo-white {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
footer a.logo-white {
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  padding: 60px 0px 16px 205px;
}

.footer span.logo-label {
  color: var(--link-active-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
address.contact-class {
  display: flex;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
}

.contact-class a.address-class {
  color: var(--link-color);
  font-size: 16px;
  font-family: var(--link-font-family);
  line-height: 16.41px;
  letter-spacing: 0.02625em;
  text-decoration: none;
  width: 14.4375em;
  height: 1em;
  padding-left: 206px;
}

a.mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: var(--link-font-family);
  line-height: 16px;
  letter-spacing: 0.02625em;
  text-decoration: none;
  width: 207px;
  height: 16px;
  padding-left: 182px;
}
a.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-family: var(--link-font-family);
  line-height: 16px;
  letter-spacing: 0.02625em;
  text-decoration: none;
  width: 14.4375em;
  height: 1em;
  padding-left: 156px;
}
.footer .contact-class a.address-class a.mail a.phone {
  display: flex;
  height: 16px;
  flex-direction: column;
  flex-shrink: 0;
}
.adress:hover,
.adress:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--link-color);
}
